.container {
    height: calc(85vh - 90px) ;
}
.questionContainer {
    display: flex;
    height: 87%;
    flex-wrap: wrap;
    overflow: scroll;


}

.infoBlock {
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    border: 1px solid #333;
    margin: auto auto;

}

.infoBlock > h3 {
    flex: 1;
}

.infoBlock > p {
    flex: 2;
    display: flex;
    
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .container {
        margin-top: -5%;
    }
    .infoBlock {
        margin: 1% auto;
    }
  }
  
  /* Mobile */
  
  @media only screen and (max-width: 46.1875em) {
    .container {
        margin-top: -5%;
    }
    .infoBlock {
        margin: 1% auto;
    }
  }
  
  /* PC */
  
  @media only screen and (min-width: 64em) {
   
  }